###########################################################
#
#   Planetary system initial configuration
#
# Note: Accretion is the inverse of the accretion
#       time scale (1.0 for Kley's standard set-up)
#	Set to 0 to turn accretion off
###########################################################

# Planet Name 	Distance	Mass	 Accretion	Feels Disk	Feels Others
SuperEarth  1.0     0.00001  0.0        NO      NO